@import "styles/variable.scss";

.input {
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  height: 84px;
  color: #afadb5;
  padding-left: 28px;
  box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.2);
  padding-left: 70px;

  &__cont {
    position: relative;
    width: 1020px;
  }

  &:focus {
    border: 1px solid $color-primary;
    color: #151411;
  }

  &_disabled {
    font-family: "Roboto";
    font-style: normal;
    background: #ffffff;
    font-weight: 400;
    font-size: 18px;
  }

  &__btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  &_width {
    width: 100%;
  }

  &__icons {
    position: absolute;
    width: 32px;
    height: 32px;
    color: $color-gray;
    top: 26px;
    left: 23px;
  }

  @include _800 {
    &__cont {
      width: auto;
    }
  }

  @include _468 {
    height: 54px;

    &__btn {
      position: absolute;
      bottom: 8px;
      right: 8px;
    }

    &__icons {
      position: absolute;
      width: 19px;
      height: 19px;
      color: $color-gray;
      top: 20px;
      left: 23px;
    }
  }
}
