* {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  font-family: 'Eudoxus Sans';
  @media (max-width: 1000px) {
    padding: 0 15px;
  }
}
