@import "styles/variable.scss";

.navbar {
  list-style-type: none;
  text-decoration: none;
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  & > * {
    text-decoration: none;
    margin-right: 60px;
    color: #151411;
  }

  &_active {
    color: $color-primary;
    padding-bottom: 47px;
    border-bottom: 3px solid $color-primary;
  }

  @include _800 {
    font-size: 14px;

    & > * {
      margin-right: 30px;
    }

    &_active {
      padding-bottom: 50px;
    }
  }

  @include _600 {
    display: none;
    &_adaptive {
      margin-top: 100px;

      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 30px;

      & > * {
        text-decoration: none;
        color: #151411;
        margin-bottom: 15px;
      }

      .navbar_active {
        border-bottom: 0px solid $color-primary;
        padding-bottom: 0px;
        color: $color-primary;
      }
    }
  }
}
